{{ print "" (Title "The config file will be updated as follows:") -}}

{{ print (Snippet .configYaml .screenWidth) }}

You might be required to alter the configuration manually after the change is applied.

