No config found at: {{ .cfgPath }}
You can set environment variable 'SNIPKIT_HOME' to change the directory path where snipkit will look for the config file.
Type in 'snipkit config init' to create a configuration file.
