{{ print "" (Title "The config file will be updated as follows:") -}}

{{ print (SideBySideDiff .oldConfigYaml .newConfigYaml) }}

You might be required to alter the configuration manually after the change is applied.

