Config file created at: {{ print (Highlighted .cfgPath) }}

If you want to edit the config, type in {{- print " " (Italic "snipkit config edit") -}}.
If you want to delete the config, type in {{- print " " (Italic "snipkit config clean") -}}.
