No configuration file found!
{{ if .homeEnvSet }}SNIPKIT_HOME is set to: {{ .homeEnv }}{{ else }}SNIPKIT_HOME is not set.{{ end }}
Thus, the config file location is specified to be:
  {{ print (Highlighted .cfgPath) }}
