{{ print "" (Title "The following will be added to your config file") -}}

{{ print (SideBySideDiff .oldConfigYaml .newConfigYaml) }}

You might be required to alter the configuration after the change is applied.

