{{ print "" (Title "Your config file will be updated as follows:") -}}

{{ print (SideBySideDiff .oldConfigYaml .newConfigYaml) }}

You might be required to alter the configuration after the change is applied.

