{{ print "" (Title "The following will be added to your config file:") }}

{{ print (Snippet .configYaml .screenWidth) }}

You might be required to alter the configuration after the change is applied.

