{{ print (Title "Delete the themes directory") }}

The directory for custom themes is not empty:
  {{ print "" (Highlighted .themesPath) }}

By deleting this directory, you will loose your custom theme definitions if you have no backups.
