name: build

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ main, "*" ]
  workflow_dispatch:

jobs:
  ci-linux:
    runs-on: ubuntu-20.04
    env:
      DEBIAN_FRONTEND: noninteractive
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - name: Install clipboard utilities
        run: sudo apt-get update && sudo apt-get install -y xsel wl-clipboard
      - name: Build
        run: |
          # https://github.com/jaraco/keyring/blob/main/README.rst#using-keyring-on-headless-linux-systems
          make ci
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.1.2
        with:
          file: ./coverage.out
          flags: ${{ runner.os }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  ci-macos:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - name: Build
        run: make ci
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.1.2
        with:
          file: ./coverage.out
          flags: ${{ runner.os }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  release-test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Release test
        run: make build
