name: mkdocs-dev
on:
  push:
    paths:
      - 'docs/**'
      - mkdocs.yml
    branches:
      - docs
      - main
jobs:
  deploy:
    name: mkdocs-dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Install dependencies
        run: |
          pip install mike
          pip install mkdocs-material
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Configure the git user
        run: |
          git config user.name "Github Actions mkdocs Bot"
          git config user.email "actions-mkdocs-bot@github.com"
      - name: Deploy the dev documents
        run: mike deploy --push dev
